

<div class="container container-cards">
  <div class="card-receiptor">
    <h2>Thank you for playing Dinder! Please add your partner's email:</h2>
    <p>
      <%= simple_form_for [@choice, Receiptor.new] do |f| %>
        <div class="each-input" style="max-width:60%;"><%= f.input :name %></div>
        <div class="each-input" style="max-width:60%;"><%= f.input :email %></div>
        <div class="each-input-button" style="max-width:60%;"><%= f.button :submit, class:"btn btn-default btn-light" %></div>
      <% end %>
    </p>
  </div>

  </div>
