
    <h1>Thank you for the game. Please  </h1>
    <p>
      <%= simple_form_for [@choice, Receiptor.new] do |f| %>

      <%= f.input :email %>
      <%= f.button :submit %>
      <% end %>
    </p>
