/* Reset styles for the whole page */


/* Specific CSS for your home-page */
.landing-page {
  // height: 1500px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border: 0;
}



.cta-container {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
  margin: 0;
  padding: 0;
  top: 0;
  background-image: url('https://images.unsplash.com/photo-1455906876003-298dd8c44ec8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2752&q=80');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
}

h1 {
  font-size: 5rem;
  font-weight: bold;
  color: white;
}

.btn-1 {
  background-image: linear-gradient(to right,#ff6472, #ffb2bc);
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: background-image 0.4s ease;
  transition: color 0.4s ease;
  a {
    color: #fff;
  }

  text-decoration: none;
}

.btn-1:hover {
  background-image: linear-gradient(to right,#d3525c, #ce9199);

  a {
    color: rgb(191, 189, 189);
  text-decoration: none;
  }
  text-decoration: none;
}


.testimonials {
  // position: fixed;
  //bottom: 0;

  width: 100%;
   .options {
    display: flex;


    // text-align: center;

   }

}
// .parent-card {
//   position: absolute;
// }

.color-text {
color: rgb(203, 203, 203);
font-weight: bold;
text-shadow: 1px 1px #b3b3b3;
}


.testimonial-avatar {
   width: 60px;
   border-radius: 50%;
   box-shadow: 0 1px 2px rgba(0,0,0,0.2);
   border: white 1px solid;
  //  top: -50px;
  //  right: -250px;
  //  position: relative;
 }
 .step-card {

}

.step-card:hover {
  transform: scale(1.1);
  background-image: linear-gradient(to right,#ff6472, #ffb2bc);
}
