/* Reset styles for the whole page */


/* Specific CSS for your home-page */
.landing-page {
  // height: 1500px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border: 0;
}



.cta-container {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
  margin: 0;
  padding: 0;
  top: 0;
  background-image: url('https://images.unsplash.com/photo-1455906876003-298dd8c44ec8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2752&q=80');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
}

h1 {
  font-size: 5rem;
  font-weight: bold;
  color: white;
}

.btn-light {
  background-image: linear-gradient(to right,#ff6472, #ffb2bc);
  // color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: background-image 0.4s ease;
  transition: color 0.4s ease;

  text-decoration: none;
}

.btn-light:hover {
  background-image: linear-gradient(to right,#d3525c, #ce9199);

  a {
    color: rgb(191, 189, 189);
  text-decoration: none;
  }
  text-decoration: none;
}


.testimonials {
  // position: fixed;
  //bottom: 0;

  width: 100%;
   .options{
    display: flex;
   }


}

.testimonials h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.testimonials ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.testimonials li {
  flex-basis: calc(33.33% - 20px);
  box-sizing: border-box;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
}

.testimonial-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.testimonial-content {
  text-align: right;
  padding-left: 10px;
}

.testimonial-box p {
  font-size: 14px;
  margin-bottom: 5px;
  margin-inline: 100px;
  font-style: italic;
}

.testimonials h2:nth-of-type(2) {
  margin-top: 40px;
}

.testimonials h2:nth-of-type(2) + ul li {
  flex-basis: calc(33.33% - 20px);
  box-sizing: border-box;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
}

.testimonials h2:nth-of-type(2) + ul li h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.testimonials h2:nth-of-type(2) + ul li p {
  font-size: 14px;
  margin-bottom: 5px;
  margin-inline: 100px;
  font-style: italic;
}

.btn {
  border-radius: 5%;
}

.btn a {
  color: white;
  text-decoration: none;
}
