
<div class="container">

  <h1 class="text-center m-3">Your Dates</h1>

  <div class="cards">

          <%# <% @choiceoptions.each do |co| %>
            <%# <div class="card-index rounded-4" style="width: 18rem; ">
            <%= link_to choiceoption_path(choiceoption), class:"text-decoration-none" do%>
            <%# <div class="img">
              <%= cl_image_tag option.photo.key, width: 151, height: 151 %>
              <%# </div>
              <div class="card-player-info">
               <p class="card-index-text"><%= option.name</p> %>
                  <%# <h2 class="card-index-title h1"><%= option.category</h2> %>
              <%# </div>
              <% end %>
            <%# </div>
          <% end %>

    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="https://res.cloudinary.com/dmn9i4cwm/image/upload/v1679493153/development/y4f7qugzixnqyq2rvxpft2oeisf9.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title">Game with user2</h3>
            <p class="card-text">On: 25/03/23</p>
            <p><a href="#" class="btn btn-primary">View your picks</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="https://res.cloudinary.com/dmn9i4cwm/image/upload/v1679493153/development/y4f7qugzixnqyq2rvxpft2oeisf9.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title">Game with user2</h3>
            <p class="card-text">On: 26/03/23</p>
            <p><a href="#" class="btn btn-primary">View your picks</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="https://res.cloudinary.com/dmn9i4cwm/image/upload/v1679493153/development/y4f7qugzixnqyq2rvxpft2oeisf9.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title">Game with user2</h3>
            <p class="card-text">On: 27/03/23</p>
            <p><a href="#" class="btn btn-primary">View your picks</a></p>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
