
    <h1>Thank you for playing Dinde! Please add your partner's email: </h1>
    <p>
      <%= simple_form_for [Receiptor.new, @choice] do |f| %>

      <%= f.input :email %>
      <%= f.button :submit %>
      <% end %>
    </p>
