
    <h2>Thank you for playing Dinder! Please add your partner's email: </h2>
    <p>
      <%= simple_form_for [Receiptor.new, @choice] do |f| %>

      <%= f.input :email %>
      <%= f.button :submit %>
      <% end %>
    </p>
