<div id = “cube-container”>

<div class = “cube”>
  <img <%= cl_image_tag @option1.photo.key, :crop=>"fill" %>>
  <img <%= cl_image_tag @option2.photo.key, :crop=>"fill" %>>
  <img <%= cl_image_tag @option3.photo.key, :crop=>"fill" %>>
  <img <%= cl_image_tag @option4.photo.key, :crop=>"fill" %>>
</div>

</div>
