<head>
  <title>Dinder - Date Night Matching Website</title>
  <meta name="description" content="Dinder is a date night matching website for couples to decide where to go out together. Find the perfect spot for your next date night!">
  <meta name="keywords" content="Dinder, date night, couples, matchmaking, restaurants, bars">
  <meta property="og:image" content="https://plus.unsplash.com/premium_photo-1676690624558-d05cf3f1d1bb?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1200&amp;q=80">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
</head>


<div class="landing-page">

  <div class="cta-container">

      <h1 class="cta-title mb-5"> Date nights in just a couple clicks</h1>

      <div class="btn btn-light btn-1 rounded-pill">
        <%= link_to "New date", choices_path, data: {turbo_method: :post } %>
      </div>

  </div>
 <div class="testimonials">
     <%# <h2 class="text-center mt-3">How it works</h2> %>


       <div class="row m-5">
       <div class="col-4">


        <div class="card m-3 rounded-pill shadow p-3 mb-5 bg-white step-card">
        <div class="text-center card-h" style="font-size: 3rem;">Select</div>

            <p class="text-center"> from a wide range of date options to start</p>
        </div>
        </div>

         <div class="col-4">


         <div class="card m-3 rounded-pill shadow p-3 mb-5 bg-white step-card">
         <div class="text-center card-h" style="font-size: 3rem;">Share</div>

            <p class="text-center">with your partner so they can do it too</p>
        </div>
        </div>

         <div class="col-4">


         <div class="card m-3 rounded-pill shadow p-3 mb-5 bg-white step-card">
         <div class="text-center card-h" style="font-size: 3rem;">See</div>


            <p class="text-center">your matching choice and enjoy the night</p>
        </div>
        </div>


      </div>
<br>
     <%# <h2 class="text-center">What people say</h2> %>



      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">

          <div class="carousel-item active">

              <div class="options m-5">

                <div class="card m-4 rounded shadow p-3 mb-5 bg-white rounded" style="width: 40rem;" >
                  <div class="card-body parent-card">

                      <div class="row" style="align-items: center;">
                          <div class="col-9">
                          <h5 class="card-title" style="font-family: 'Changa One', cursive;">John</h5>
                          </div>

                          <div class="col-3">
                          <img class="testimonial-avatar" src="https://i.pravatar.cc/150?img=13">
                          </div>
                        </div>

                          <h6 class="card-subtitle mb-2 color-text">____________________________</h6>
                          <p class="card-text" style="font-style: italic;">"Wow, I'm so grateful for this app, it's saved my relationship... unbelievable!"</p>
                        </div>
                      </div>

                    <div class="card m-4 rounded shadow p-3 mb-5 bg-white rounded" style="width: 40rem; m-2" >
                      <div class="card-body parent-card">

                        <div class="row" style="align-items: center;">
                            <div class="col-9">
                            <h5 class="card-title" style="font-family: 'Changa One', cursive;">Sarah</h5>
                            </div>

                            <div class="col-3">
                            <img class="testimonial-avatar" src="https://i.pravatar.cc/150?img=34">
                            </div>
                        </div>
                          <h6 class="card-subtitle mb-2 color-text">____________________________</h6>
                          <p class="card-text" style="font-style: italic;">I love this app! It makes date nights fun and easy. My husband and I have been having a blast with it!"</p>
                      </div>
                    </div>

                    <div class="card m-4 rounded shadow p-3 mb-5 bg-white rounded" style="width: 40rem; m-2" >
                      <div class="card-body parent-card">

                          <div class="row" style="align-items: center;">
                              <div class="col-9">
                              <h5 class="card-title" style="font-family: 'Changa One', cursive;">Michael</h5>
                              </div>

                              <div class="col-3">
                              <img class="testimonial-avatar" src="https://i.pravatar.cc/150?img=8">
                              </div>
                          </div>
                              <h6 class="card-subtitle mb-2 color-text">____________________________</h6>
                              <p class="card-text" style="font-style: italic;">"I'm so glad I found this app. It's been a game-changer for me and my partner. We use it every night!"</p>
                      </div>
                    </div>

                  </div>

                </div>
              </div>

          </div>

          <div class="carousel-item">

              <div class="options m-5">

                <div class="card m-4 rounded shadow p-3 mb-5 bg-white rounded" style="width: 40rem;" >
                  <div class="card-body parent-card">

                  <div class="row" style="align-items: center;">
                  <div class="col-9">
                  <h5 class="card-title" style="font-weight: bold;">Luke</h5>
                  </div>
                  <div class="col-3">
                  <img class="testimonial-avatar" src="https://i.pravatar.cc/150?img=13">
                  </div>
                  </div>

                  <h6 class="card-subtitle mb-2 color-text">____________________________</h6>
                  <p class="card-text" style="font-style: italic;">"Wow, Thank you, your are great"</p>
                  </div>
                </div>

                <div class="card m-4 rounded shadow p-3 mb-5 bg-white rounded" style="width: 40rem; m-2" >
                  <div class="card-body parent-card">

                  <div class="row" style="align-items: center;">
                  <div class="col-9">
                  <h5 class="card-title" style="font-weight: bold;">Leah</h5>
                  </div>
                  <div class="col-3">
                  <img class="testimonial-avatar" src="https://i.pravatar.cc/150?img=34">
                  </div>
                  </div>
                  <h6 class="card-subtitle mb-2 color-text">____________________________</h6>
                  <p class="card-text" style="font-style: italic;">"Best thing in my life for me and Han Solo, my husband""</p>
                  </div>
                </div>

                <div class="card m-4 rounded shadow p-3 mb-5 bg-white rounded" style="width: 40rem; m-2" >
                  <div class="card-body parent-card">

                  <div class="row" style="align-items: center;">
                  <div class="col-9">
                  <h5 class="card-title" style="font-weight: bold;">Yoda</h5>
                  </div>
                  <div class="col-3">
                  <img class="testimonial-avatar" src="https://i.pravatar.cc/150?img=8">
                  </div>
                  </div>
                  <h6 class="card-subtitle mb-2 color-text">____________________________</h6>
                  <p class="card-text" style="font-style: italic;"><p>"This app is app good. Recommend I will this app to people different"</p>
                </div>

              </div>
          </div>

        </div>


      </div>


  </div>

</div>


    <script>

    // window.addEventListener('load', function() {
    //   const ctaContainerEl = document.getElementsByClassName('cta-container')[0];
    //   ctaContainerEl.style.height = document.documentElement.clientHeight + 'px';
    // })

    const range = 600;
      window.addEventListener('scroll', function() {
        const ctaContainerEl = document.getElementsByClassName('cta-container')[0];
        const ctaContainerTitle = document.getElementsByClassName('cta-title')[0];
        const ctaContainerButton = document.getElementsByClassName('btn')[0];
        const testimonials = document.querySelector('testimonials');
        const carousel = document.querySelector('carousel');

        const distanceTop = ctaContainerEl.getBoundingClientRect().top;
        const calc = 1 + distanceTop / (distanceTop + range);

        ctaContainerTitle.style.opacity = calc;
        if (calc > '1') {
            ctaContainerTitle.style.opacity = 1;



        } else if ( calc > '0.6' ) {
            ctaContainerButton.style.display = 'block';

        } else if ( calc < '0' ) {
            ctaContainerTitle.style.opacity = 0;
            ctaContainerButton.style.display = 'none';

            // carousel({
            //     interval: 100
            //    })


        }
      }, false);



    </script>
