
<div class="landing-page">

  <div class="cta-container">

      <h1 class="cta-title mb-5"> Date nights in just a couple clicks</h1>

      <div class="btn btn-light rounded-pill">
        <%= link_to "New date", choices_path, data: {turbo_method: :post } %>
      </div>

  </div>
 <div class="testimonials">
     <h2>How it works</h2>

      <div class="options">

        <div class="card m-5">
            <h3>👆</h3>
            <p>1. Select from a wide range of date options to start.</p>
        </div>
         <div class="card m-5">
            <h3>📧</h3>
            <p>1. Select from a wide range of date options to start.</p>
        </div>
         <div class="card m-5">
            <h3>👆</h3>
            <p>1. Select from a wide range of date options to start.</p>
        </div>

      </div>

 <h2>Testimonials</h2>
      <div class="options">
        <div class="card">
            <img src="https://i.pravatar.cc/150?img=13" alt="Avatar 1">
            <p>"Wow, I'm so grateful for this app, it's saved my relationship... unbelievable!" - John</p>
        </div>
        <div class="card">
           <img src="https://i.pravatar.cc/150?img=34" alt="Avatar 2">
            <p>I love this app! It makes date nights fun and easy. My husband and I have been having a blast with it!" - Sarah</p>
        </div>
        <div class="card">
            <img src="https://i.pravatar.cc/150?img=8" alt="Avatar 3">
            <p>"I'm so glad I found this app. It's been a game-changer for me and my partner. We use it every night!" - Michael</p>
        </div>

      </div>

  </div>

</div>


    <script>

    // window.addEventListener('load', function() {
    //   const ctaContainerEl = document.getElementsByClassName('cta-container')[0];
    //   ctaContainerEl.style.height = document.documentElement.clientHeight + 'px';
    // })

    const range = 600;
      window.addEventListener('scroll', function() {
        const ctaContainerEl = document.getElementsByClassName('cta-container')[0];
        const ctaContainerTitle = document.getElementsByClassName('cta-title')[0];
        const ctaContainerButton = document.getElementsByClassName('btn')[0];
        const testimonials = document.querySelector('testimonials');

        const distanceTop = ctaContainerEl.getBoundingClientRect().top;
        const calc = 1 + distanceTop / (distanceTop + range);

        ctaContainerTitle.style.opacity = calc;
        if (calc > '1') {
            ctaContainerTitle.style.opacity = 1;



        } else if ( calc > '0.6' ) {
            ctaContainerButton.style.display = 'block';

        } else if ( calc < '0' ) {
            ctaContainerTitle.style.opacity = 0;
            ctaContainerButton.style.display = 'none';


        }
      }, false);



    </script>
