
.cards-index {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  flex-grow: 10;
}


.card-index {

  background-size: cover;
  background-position: center;
  border: 12px;
  border-radius: 5px;
  width: 10rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  align-items: center;
  font-size: 22px;
  color: black;
  font-weight: bolder;
  // text-shadow: 0 0 10px rgba(0,0,0,0.7);
}
