.cards-index {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  flex-grow: 10;
}

.card-index {
  // background-size: cover;
  // background-position: center;
  // border: 12px;
  // border-radius: 5px;
  height: 90%;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1px;
  // align-items: center;
  // font-size: 22px;
  color: black;
  // font-weight: light;
  // height: 100%;
  // text-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.card-index:hover {
  transform: scale(1.1);
}

.card-index p {
  size: 1px;
}

.card-text {
  text-align: left;
  border: none;
}

.card-text-index p {
  margin: 1px;
}

.card-receiptor {
  text-align: left;
  border: 10px;
  background-image: linear-gradient(to right,#d3525c, #ce9199);
  margin-top: 5%;
  border-radius: 4rem;
}

.card-receiptor h2 {
  margin-left: 5%;
  padding-top: 5%;
}

.each-input {
  margin-left: 5%;
}

.each-input-button {
  margin-left: 5%;
  padding-bottom: 5%;
}
