.navbar-lewagon {
  // justify-content: space-between;
  background: transparent;
  position: absolute;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  margin-left: 10px;
}

.navbar-lewagon .nav-link {
  color: white;
  font-size: larger;
  font-style: bold;
  font-family: "Archivo Black";
  margin-right: 20px;
}
.navbar-lewagon .nav-item .avatar {
  margin-right: 10px;
}
