@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.navbar-lewagonb {
  // justify-content: space-between;
  background: transparent;
  position: absolute;
  top: 0;
  width: 100%;
  align-items: center;
}

.navbar-lewagonb .navbar-collapseb {
  flex-grow: 0;
}

.navbar-lewagonb .navbar-brandb img {
  margin-left: 50px;
  width: 60px;
}

.navbar-lewagonb .nav-linkb {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  margin-right: 20px;
}
.navbar-lewagonb .nav-itemb .avatar {
  margin-right: 50px;
  width: 60px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.navbar-lewagonb .nav-linkb:hover {
  transform: scale(1.1);
}

.navbar-lewagonb .navbar-brand-nameb{
  font-size: 30px;
  font-family: 'Changa One', cursive;
  color:  rgb(0, 0, 0);
  margin-right: 950px;
  margin-left: 15px;
}

.navbar-navb {
  align-items: center !important;
}
